


    header{
       color: blue;
       border: black;




}





     .blackcs{
        color:gold;






}


     body{
          background-color: tomato;

}



     h1{
    font-size: 100px;



}